# Cool Ways to Create Arrays Using `np.r_` and `np.c_`
___

NumPy's `np.r_` and `np.c_` commands can do much more than concatenate (join) arrays, lists, ranges, and values into `ndarrays`, they can be used to create arrays from scratch. This is so cool. I hope you find it useful.

In [1]:
import numpy as np

### Create 1D (horizontal) arrays using slice notation and `np.r_`

In [2]:
# 1D array starting at zero up to but not including 8
# this works like np.arange except using slicing notation

np.r_[:8]

array([0, 1, 2, 3, 4, 5, 6, 7])

In [3]:
# 1D array of integers from 1 to 4 inclusive

np.r_[1:5]

array([1, 2, 3, 4])

In [4]:
# 1D array of even integers from 2 to 24 inclusive

np.r_[2:25:2]

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24])

In [5]:
# 1D array counting up from 0 to 12 by 2 and back down by 3

np.r_[0:13:2, 9:-1:-3]

array([ 0,  2,  4,  6,  8, 10, 12,  9,  6,  3,  0])

In [6]:
# 1D array from -pi to pi with 10 values, this is very cool
# adding a j to the value after the second colon tells np.r_
# to return that many values between the first two values
# this acts like np.linspace()

np.r_[-np.pi : np.pi : 10j]

array([-3.14159265, -2.44346095, -1.74532925, -1.04719755, -0.34906585,
        0.34906585,  1.04719755,  1.74532925,  2.44346095,  3.14159265])

### Create 2D, 1-column (vertical) arrays using `np.c_`

In [7]:
# not limited to integers

np.c_[3:12:1.5]

array([[ 3. ],
       [ 4.5],
       [ 6. ],
       [ 7.5],
       [ 9. ],
       [10.5]])

In [8]:
# counting up to 10

np.c_[0:11]

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]])

In [9]:
# can use the np.linspace() style format here as well

np.c_[0 : 2*np.pi : 20j]

array([[0.        ],
       [0.33069396],
       [0.66138793],
       [0.99208189],
       [1.32277585],
       [1.65346982],
       [1.98416378],
       [2.31485774],
       [2.64555171],
       [2.97624567],
       [3.30693964],
       [3.6376336 ],
       [3.96832756],
       [4.29902153],
       [4.62971549],
       [4.96040945],
       [5.29110342],
       [5.62179738],
       [5.95249134],
       [6.28318531]])

### Create 2D arrays using `np.r_` and `np.c_`

In [10]:
# 2D array with one row of integers from 4 to 9 inclusive

np.r_[[np.r_[4:10]]]

array([[4, 5, 6, 7, 8, 9]])

In [11]:
# 2D array with mulitple rows
# each slice needs to be the same size.
# note the double square brackets on the outside

np.r_[[np.r_[1:5], np.r_[5:9]]]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [12]:
# 2D array with np.c_ by specifying column values
# each slice sequence needs to be the same size

np.c_[1:11, 21:31, 41:51]

array([[ 1, 21, 41],
       [ 2, 22, 42],
       [ 3, 23, 43],
       [ 4, 24, 44],
       [ 5, 25, 45],
       [ 6, 26, 46],
       [ 7, 27, 47],
       [ 8, 28, 48],
       [ 9, 29, 49],
       [10, 30, 50]])

In [13]:
# use np.r_ and np.c_ together to count up then back down

np.r_[np.c_[1:6], np.c_[6:0:-1]]

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [5],
       [4],
       [3],
       [2],
       [1]])

In [14]:
# vertical array counting up from 0 to 12 by 2 and back down by 3
# similar to example for 1D array earlier that only used np.r_

np.r_[np.c_[0:13:2], np.c_[9:-1:-3]]

array([[ 0],
       [ 2],
       [ 4],
       [ 6],
       [ 8],
       [10],
       [12],
       [ 9],
       [ 6],
       [ 3],
       [ 0]])

### Mixing NumPy functions to create 2D arrays with `np.r_` and `np.c_`

In [15]:
np.r_[np.zeros(5), 999, 1:11, 50:54:10j]

array([  0.        ,   0.        ,   0.        ,   0.        ,
         0.        , 999.        ,   1.        ,   2.        ,
         3.        ,   4.        ,   5.        ,   6.        ,
         7.        ,   8.        ,   9.        ,  10.        ,
        50.        ,  50.44444444,  50.88888889,  51.33333333,
        51.77777778,  52.22222222,  52.66666667,  53.11111111,
        53.55555556,  54.        ])

In [16]:
np.c_[np.zeros(5), np.ones(5)]

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [17]:
np.r_[np.zeros(5), np.ones(5)].reshape(2,5).T

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])